/.gitattributes export-ignore
/.gitignore export-ignore
/Tests export-ignore
/phpunit.xml export-ignore
/.php_cs export-ignore
/.formatter.yml export-ignore
/.circleci export-ignore
/.editorconfig export-ignore